body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    
}

* {
    margin: 0;
    padding: 0;
}

#title {
    padding: 1.5rem;
    font-size: 3rem;
    background: rgba(226, 223, 223, 0.945);
    color: rgba(32, 20, 201, 0.979);
    font-weight: bolder;
    
}

#main {
    background: #eee
}

#image {
    display: block;
    max-width: 100%;
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    box-shadow: 2px 4px 8px 0px  rgba(2, 2, 2, 0.8);
    
}

#img-caption {
    padding: 1rem;
}

#img-div {
    background: rgba(255, 255, 255, 0.966);
    border-radius: 16px;
    margin: 20px 100px 20px 100px;
    padding-top: 20px;
}

#tribute-info {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;;
}

section h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgba(19, 9, 153, 0.979);
}

section h4 {
    font-size: 1.2rem;
    color: rgba(16, 7, 145, 0.979);
    text-align: start;
    margin-bottom: 10px;
}

#message {
    text-align: start;
    margin-bottom: 1rem;
}

#dept-link {
    padding-bottom: 2rem;
    font-weight: bolder;
    font-size: 1.3rem;
}